
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  img{  padding-top: 10px;
        height: 200px;
        width: 200px;
  }
  .title {
    color: grey;
    font-size: 18px;
  }
  h2{
      text-align: center;
  }

